@{
    ViewBag.Title = "Images";
    ViewBag.ThumbnailService = new ImageThumbnailService();
    ViewBag.BaseDirectory = ConfigurationManager.AppSettings["ImagesPath"];

    Layout = "../Shared/_Index.cshtml";
}

@using System.Configuration
@using ContentExplorer.Services

@section BeforeContent {
    <div class="btn-block" data-actions="image"></div>
}

@section scripts {

    @Scripts.Render("~/bundles/scripts/image/index")
}