.button {

    &_list {
        display: inline-block;
    }

    &_wrapper {
        padding: 10px;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    &_item {
        width: 30px;
        height: 30px;
        display: inline-block;
        padding: 2px;
        box-sizing: border-box;
        margin-right: 4px;

        &-current {
            @extend .button_item;
        }
    }

    &_medialink {
        display: inline-block;
        border-radius: 4px;
        margin-right: 8px;
        margin-bottom: 8px;
        border: 1px solid #ababab;
        width: 150px;
        height: 150px;

        &-disabled {

            @extend .button_medialink;
            opacity: 0.6;
        }
    }

    &_mediapreview {
        display: block;
        width: 100%;
        height: 100%;
    }
}
