@{
    ViewBag.Title = "Videos";
    ViewBag.ThumbnailService = new VideoThumbnailService();
    ViewBag.BaseDirectory = ConfigurationManager.AppSettings["VideosPath"];

    Layout = "../Shared/_Index.cshtml";
}

@using System.Configuration
@using ContentExplorer.Services

@section BeforeContent {
    <div class="btn-block" data-actions="video"></div>
}

@section scripts {

    @Scripts.Render("~/bundles/scripts/video/index")
}